<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518583580460-4l2tvula72q6ke1ist4vptrfu9h4mumo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518583580460-4l2tvula72q6ke1ist4vptrfu9h4mumo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518583580460-ab5tl0s8bqntujrrhi690i4u0k54kr4l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXIcDEMVhmpaXHxbJi142_wbGA9zGZYPI</string>
	<key>GCM_SENDER_ID</key>
	<string>518583580460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkk.release</string>
	<key>PROJECT_ID</key>
	<string>puls--mobile-b2014</string>
	<key>STORAGE_BUCKET</key>
	<string>puls--mobile-b2014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518583580460:ios:d771d1adb52109d96c9e89</string>
</dict>
</plist>