<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098540645055-dqaf5f9bj3pjbsp8k3301im7nftm185r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098540645055-dqaf5f9bj3pjbsp8k3301im7nftm185r</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3U3xEG_KYp2zawZ94tyYmEk0XZU4RXY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098540645055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkk.release</string>
	<key>PROJECT_ID</key>
	<string>lkk-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>lkk-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098540645055:ios:91164edee283475439640a</string>
</dict>
</plist>